# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# The UDR binary and other files
src/udr
src/.udr_key
udt/app/appclient
udt/app/appserver
udt/app/recvfile
udt/app/sendfile
udt/app/test

# Emacs files
*~
