# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# The UDR binary and other files
src/udr
src/version.h
*.udr_key
udt/app/appclient
udt/app/appserver
udt/app/recvfile
udt/app/sendfile
udt/app/test
udt/src/udt

#server
*.pyc
server/rsyncd.conf
server/udrd.conf
server/udr.log
server/motd.txt
server/rsynclog
server/.venv
server/.venv2.4
server/.venv2.6

# Emacs files
*~

# Vim files 
*.swp
